<section id="footer">
      <div class="container footer">
        <div class="mt-5">
          <ul class="d-flex gap-3">
              <li>
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li>
                <a class="nav-link active" aria-current="page" href="#">ForBussines</a>
              </li>
              <li>
                <a class="nav-link active" aria-current="page" href="#">Sugesstion</a>
              </li>
              <li>
                <a class="nav-link active" aria-current="page" href="#">Help&Faqs</a>
              </li>
              <li>
                <a class="nav-link active" aria-current="page" href="#">Contacts</a>
              </li>
               <li>
                <a class="nav-link active" aria-current="page" href="#">Pricing</a>
              </li>
          </ul>
        </div>
        <div class="ntfx-profile col col-4">
          <img src="./images/NftiseLogo (2).png" alt="">
          <!-- <p>Nulla facilisi. Vestibulum non est nisl. Donec eget sodales nisl. Donec ut velit erat. </p> -->
          <p class="copyright">&#169; 2022 All rights reserved.</p>
        </div>
        <div class="mt-5">
          <ul class="d-flex gap-3">
              <li>
                <a class="nav-link active" aria-current="page" href="#">Privacy</a>
              </li>
              <li>
                <a class="nav-link active" aria-current="page" href="#">Terms</a>
              </li>
          </ul>
        </div>
      </div>
    </section>
