<div class="container">

  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Vidios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Documents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Communities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Favorite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Chanels</a>
  </li>
</ul>

</div>


    <div class="container">
      <div class="row">
        <div class="col mt-lg-5 mt-3 Judul">
          <h4>Videos</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/Hasil Persib.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h6>Olahraga</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Olahraga/isi.html">
                      <h5 class="card-title">Hasil Persib Bandung vs PSIS Semarang di Liga 1</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p class="card-text">TIMNAS Indonesia U-16 juara Piala AFF U-16 2022 usai
                        mengalahkan Vietnam 1-0 di Stadion Maguwoharjo, Sleman, Jumat 12 Agustus
                        2022,
                        malam WIB. Dalam proses pengalungan medali untuk Vietnam, aksi tidak
                        sportif
                        tertangkap kamera.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/Polisi diisolasi.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Berita/isi.html">
                      <h6>Berita</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Berita/isi.html">
                      <h5 class="card-title">Lagi! Polisi Diisolasi Diduga Halangi Kasus Brigadir
                        J, Semua
                        dari Polda Metro</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p class="card-text">JAKARTA - Polri menyatakan bahwa ada tambahan empat
                        polisi yang
                        dikurung di tempat khusus lantaran menghalangi penyidikan kasus Brigadir
                        J.
                        Obstruction of Justice itu dilakukan mereka lantaran memproses dua
                        laporan,
                        yakni kekerasan seksual dan percobaan pembunuhan. </p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="./Berita/isi.html">
                  <img src="./assets/muffin.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Berita/isi.html">
                      <h6>Berita</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Berita/isi.html">
                      <h5 class="card-title">Mahfud MD Bongkar Skenario Ferdy Sambo: Nangis-Nangis
                        di
                        Hadapan Kompolnas</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p class="card-text">JAKARTA - Menko Polhukam Mahfud MD membongkar skenario
                        yang
                        disusun Ferdy Sambo terkait kasus penembakan Brigadir J di Duren Tiga,
                        Jakarta
                        Selatan.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/deddy .jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h6>Selebrity</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      14 Agustus 2022
                    </h6>
                    <a href="./Selebrity/isi.html">
                      <h5 class="card-title">Deddy Combuzier Kena Cibir Usai Ancam Ceraikan
                        Sabrina</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p class="card-text">JAKARTA - Deddy Corbuzier mengaku mendapat banyak
                        kecaman. Itu karena konten podcast Deddy Issues miliknya kerap membahas
                        isu-isu sensitif, salah satunya soal istri.

                        Kepada Tretan Muslim dan Adriano Qalbi, Deddy bercerita banyak netizen
                        yang tak sepakat dengan ucapan Deddy yang ingin menceraikan istrinya
                        jika memiliki tubuh gemuk. Hal itu dinilai body shaming oleh netizen.
                      </p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/arenal.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h6>Olahraga</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Olahraga/isi.html">
                      <h5 class="card-title">Hasil Arsenal vs Leicester City di Pekan ke-2</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p class="card-text">HASIL Arsenal vs Leicester City di pekan ke-2 Liga
                        Inggris 2022-2023 sudah diketahui. The Gunners -julukan Arsenal- sukses
                        meraih kemenangan dengan skor 4-2.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/ashanty.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Kesehatan/isi.html">
                      <h6>Kesehatan</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      14 Agustus 2022
                    </h6>
                    <a href="./Kesehatan/isi.html">
                      <h5 class="card-title">Ashanty Mengaku Sudah 3 Hari Kena Saraf Kejepit, Apa
                        Saja Gejalanya</h5>
                    </a>
                    <a href="./Kesehatan/isi.html">
                      <p class="card-text"> Ashanty menyebut, sarafnya makin terasa terjepit saat
                        dia tengah bermain TikTok bersama anaknya, Arsy Hermansyah, dengan
                        menggunakan efek bibir maju, yang membuatnya harus memonyongkan bibir.
                        “Semakin kejepit karna semalem buat video ini🤦🏻‍♀️,” ujarnya.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="bg-berita-pilihan">
            <div class="row">
              <div class="col Judul-Pilihan">
                <h4>Activities</h4>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <a href="./Berita/isi.html"><img src="./assets/berita1.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Olahraga/isi.html"><img src="./assets/bola1.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h5>Bola</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p>Profil Markus Horison, Pelatih Kiper Timnas Indonesia U-16 yang Viral
                        Usai Juara Piala AFF U-16 2022</p>
                    </a>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Selebrity/isi.html"><img src="./assets/selebrity1.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h5>Selebrity</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p>5 Rekomendasi Podcast, dari Andre Taulany hingga Pandji Pragiwaksono</p>
                    </a>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Berita/isi.html"><img src="./assets/berita1.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Olahraga/isi.html"><img src="./assets/bola1.jpg" alt=""></a>
                </div>
                <!-- <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h5>Bola</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p>Profil Markus Horison, Pelatih Kiper Timnas Indonesia U-16 yang Viral
                        Usai Juara Piala AFF U-16 2022</p>
                    </a>
                  </article>
                </div> -->
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Selebrity/isi.html"><img src="./assets/selebrity1.jpg" alt=""></a>
                </div>
                <!-- <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h5>Selebrity</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p>5 Rekomendasi Podcast, dari Andre Taulany hingga Pandji Pragiwaksono</p>
                    </a>
                  </article>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>



    <div class="container">
      <div class="row">
        <div class="col mt-lg-5 mt-3 Judul">
          <h4>People</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/Hasil Persib.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h6>Olahraga</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Olahraga/isi.html">
                      <h5 class="card-title">Hasil Persib Bandung vs PSIS Semarang di Liga 1</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p class="card-text">TIMNAS Indonesia U-16 juara Piala AFF U-16 2022 usai
                        mengalahkan Vietnam 1-0 di Stadion Maguwoharjo, Sleman, Jumat 12 Agustus
                        2022,
                        malam WIB. Dalam proses pengalungan medali untuk Vietnam, aksi tidak
                        sportif
                        tertangkap kamera.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/Polisi diisolasi.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Berita/isi.html">
                      <h6>Berita</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Berita/isi.html">
                      <h5 class="card-title">Lagi! Polisi Diisolasi Diduga Halangi Kasus Brigadir
                        J, Semua
                        dari Polda Metro</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p class="card-text">JAKARTA - Polri menyatakan bahwa ada tambahan empat
                        polisi yang
                        dikurung di tempat khusus lantaran menghalangi penyidikan kasus Brigadir
                        J.
                        Obstruction of Justice itu dilakukan mereka lantaran memproses dua
                        laporan,
                        yakni kekerasan seksual dan percobaan pembunuhan. </p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="./Berita/isi.html">
                  <img src="./assets/muffin.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Berita/isi.html">
                      <h6>Berita</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Berita/isi.html">
                      <h5 class="card-title">Mahfud MD Bongkar Skenario Ferdy Sambo: Nangis-Nangis
                        di
                        Hadapan Kompolnas</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p class="card-text">JAKARTA - Menko Polhukam Mahfud MD membongkar skenario
                        yang
                        disusun Ferdy Sambo terkait kasus penembakan Brigadir J di Duren Tiga,
                        Jakarta
                        Selatan.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/deddy .jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h6>Selebrity</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      14 Agustus 2022
                    </h6>
                    <a href="./Selebrity/isi.html">
                      <h5 class="card-title">Deddy Combuzier Kena Cibir Usai Ancam Ceraikan
                        Sabrina</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p class="card-text">JAKARTA - Deddy Corbuzier mengaku mendapat banyak
                        kecaman. Itu karena konten podcast Deddy Issues miliknya kerap membahas
                        isu-isu sensitif, salah satunya soal istri.

                        Kepada Tretan Muslim dan Adriano Qalbi, Deddy bercerita banyak netizen
                        yang tak sepakat dengan ucapan Deddy yang ingin menceraikan istrinya
                        jika memiliki tubuh gemuk. Hal itu dinilai body shaming oleh netizen.
                      </p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/arenal.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h6>Olahraga</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      13 Agustus 2022
                    </h6>
                    <a href="./Olahraga/isi.html">
                      <h5 class="card-title">Hasil Arsenal vs Leicester City di Pekan ke-2</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p class="card-text">HASIL Arsenal vs Leicester City di pekan ke-2 Liga
                        Inggris 2022-2023 sudah diketahui. The Gunners -julukan Arsenal- sukses
                        meraih kemenangan dengan skor 4-2.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card gambar">
                <a href="">
                  <img src="./assets/ashanty.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body isi">
                  <article>
                    <a href="./Kesehatan/isi.html">
                      <h6>Kesehatan</h6>
                    </a>
                    <h6>
                      <i class="fas fa-calendar-alt">
                      </i>
                      14 Agustus 2022
                    </h6>
                    <a href="./Kesehatan/isi.html">
                      <h5 class="card-title">Ashanty Mengaku Sudah 3 Hari Kena Saraf Kejepit, Apa
                        Saja Gejalanya</h5>
                    </a>
                    <a href="./Kesehatan/isi.html">
                      <p class="card-text"> Ashanty menyebut, sarafnya makin terasa terjepit saat
                        dia tengah bermain TikTok bersama anaknya, Arsy Hermansyah, dengan
                        menggunakan efek bibir maju, yang membuatnya harus memonyongkan bibir.
                        “Semakin kejepit karna semalem buat video ini🤦🏻‍♀️,” ujarnya.</p>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="bg-berita-pilihan">
            <div class="row">
              <div class="col Judul-Pilihan">
                <h4>Chanels</h4>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>
              </div>
              <div class="row mt-3">

                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h5>Bola</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p>Profil Markus Horison, Pelatih Kiper Timnas Indonesia U-16 yang Viral
                        Usai Juara Piala AFF U-16 2022</p>
                    </a>
                  </article>
                </div>

                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Olahraga/isi.html">
                      <h5>Bola</h5>
                    </a>
                    <a href="./Olahraga/isi.html">
                      <p>Profil Markus Horison, Pelatih Kiper Timnas Indonesia U-16 yang Viral
                        Usai Juara Piala AFF U-16 2022</p>
                    </a>
                  </article>
                </div>
               </div>

              <div class="row mt-3">

                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h5>Selebrity</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p>5 Rekomendasi Podcast, dari Andre Taulany hingga Pandji Pragiwaksono</p>
                    </a>
                  </article>
                </div>
                 <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Selebrity/isi.html">
                      <h5>Selebrity</h5>
                    </a>
                    <a href="./Selebrity/isi.html">
                      <p>5 Rekomendasi Podcast, dari Andre Taulany hingga Pandji Pragiwaksono</p>
                    </a>
                  </article>

                </div>
              </div>

              <div class="row mt-3">
                <!-- <div class="col-lg-6">
                  <a href="./Berita/isi.html"><img src="./assets/berita1.jpg" alt=""></a>
                </div> -->
                <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>

                 <div class="col-lg-6 isi-pilihan">
                  <article>
                    <a href="./Berita/isi.html">
                      <h5>Berita</h5>
                    </a>
                    <a href="./Berita/isi.html">
                      <p>Angin Puting Beliung Terjang Bangka Selatan, 70 Rumah Rusak</p>
                    </a>
                  </article>
                </div>

              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Olahraga/isi.html"><img src="./assets/bola1.jpg" alt=""></a>
                </div>


                <!-- <div class="col-lg-6 isi-pilihan">
                      <article>
                        <a href="./Olahraga/isi.html">
                          <h5>Bola</h5>
                        </a>
                        <a href="./Olahraga/isi.html">
                          <p>Profil Markus Horison, Pelatih Kiper Timnas Indonesia U-16 yang Viral
                            Usai Juara Piala AFF U-16 2022</p>
                        </a>
                      </article>
                    </div> -->
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <a href="./Selebrity/isi.html"><img src="./assets/selebrity1.jpg" alt=""></a>
                </div>
                <!-- <div class="col-lg-6 isi-pilihan">
                      <article>
                        <a href="./Selebrity/isi.html">
                          <h5>Selebrity</h5>
                        </a>
                        <a href="./Selebrity/isi.html">
                          <p>5 Rekomendasi Podcast, dari Andre Taulany hingga Pandji Pragiwaksono</p>
                        </a>
                      </article>
                    </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="container">
            <div class="row">
              <div class="col mt-lg-5 mt-3 Judul">
                <h4>Documents</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9">
                <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="">
                        <img src="./assets/Hasil Persib.jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Olahraga/isi.html">
                            <h6>Olahraga</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            13 Agustus 2022
                          </h6>
                          <a href="./Olahraga/isi.html">
                            <h5 class="card-title">Hasil Persib Bandung vs PSIS Semarang di Liga 1</h5>
                          </a>
                          <a href="./Olahraga/isi.html">
                            <p class="card-text">TIMNAS Indonesia U-16 juara Piala AFF U-16 2022 usai
                              mengalahkan Vietnam 1-0 di Stadion Maguwoharjo, Sleman, Jumat 12 Agustus
                              2022,
                              malam WIB. Dalam proses pengalungan medali untuk Vietnam, aksi tidak
                              sportif
                              tertangkap kamera.</p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="">
                        <img src="./assets/Polisi diisolasi.jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Berita/isi.html">
                            <h6>Berita</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            13 Agustus 2022
                          </h6>
                          <a href="./Berita/isi.html">
                            <h5 class="card-title">Lagi! Polisi Diisolasi Diduga Halangi Kasus Brigadir
                              J, Semua
                              dari Polda Metro</h5>
                          </a>
                          <a href="./Berita/isi.html">
                            <p class="card-text">JAKARTA - Polri menyatakan bahwa ada tambahan empat
                              polisi yang
                              dikurung di tempat khusus lantaran menghalangi penyidikan kasus Brigadir
                              J.
                              Obstruction of Justice itu dilakukan mereka lantaran memproses dua
                              laporan,
                              yakni kekerasan seksual dan percobaan pembunuhan. </p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="./Berita/isi.html">
                        <img src="./assets/muffin.jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Berita/isi.html">
                            <h6>Berita</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            13 Agustus 2022
                          </h6>
                          <a href="./Berita/isi.html">
                            <h5 class="card-title">Mahfud MD Bongkar Skenario Ferdy Sambo: Nangis-Nangis
                              di
                              Hadapan Kompolnas</h5>
                          </a>
                          <a href="./Berita/isi.html">
                            <p class="card-text">JAKARTA - Menko Polhukam Mahfud MD membongkar skenario
                              yang
                              disusun Ferdy Sambo terkait kasus penembakan Brigadir J di Duren Tiga,
                              Jakarta
                              Selatan.</p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  row-cols-1 row-cols-md-2 g-4 mt-lg-1 ">
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="">
                        <img src="./assets/deddy .jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Selebrity/isi.html">
                            <h6>Selebrity</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            14 Agustus 2022
                          </h6>
                          <a href="./Selebrity/isi.html">
                            <h5 class="card-title">Deddy Combuzier Kena Cibir Usai Ancam Ceraikan
                              Sabrina</h5>
                          </a>
                          <a href="./Selebrity/isi.html">
                            <p class="card-text">JAKARTA - Deddy Corbuzier mengaku mendapat banyak
                              kecaman. Itu karena konten podcast Deddy Issues miliknya kerap membahas
                              isu-isu sensitif, salah satunya soal istri.

                              Kepada Tretan Muslim dan Adriano Qalbi, Deddy bercerita banyak netizen
                              yang tak sepakat dengan ucapan Deddy yang ingin menceraikan istrinya
                              jika memiliki tubuh gemuk. Hal itu dinilai body shaming oleh netizen.
                            </p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="">
                        <img src="./assets/arenal.jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Olahraga/isi.html">
                            <h6>Olahraga</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            13 Agustus 2022
                          </h6>
                          <a href="./Olahraga/isi.html">
                            <h5 class="card-title">Hasil Arsenal vs Leicester City di Pekan ke-2</h5>
                          </a>
                          <a href="./Olahraga/isi.html">
                            <p class="card-text">HASIL Arsenal vs Leicester City di pekan ke-2 Liga
                              Inggris 2022-2023 sudah diketahui. The Gunners -julukan Arsenal- sukses
                              meraih kemenangan dengan skor 4-2.</p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card gambar">
                      <a href="">
                        <img src="./assets/ashanty.jpg" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body isi">
                        <article>
                          <a href="./Kesehatan/isi.html">
                            <h6>Kesehatan</h6>
                          </a>
                          <h6>
                            <i class="fas fa-calendar-alt">
                            </i>
                            14 Agustus 2022
                          </h6>
                          <a href="./Kesehatan/isi.html">
                            <h5 class="card-title">Ashanty Mengaku Sudah 3 Hari Kena Saraf Kejepit, Apa
                              Saja Gejalanya</h5>
                          </a>
                          <a href="./Kesehatan/isi.html">
                            <p class="card-text"> Ashanty menyebut, sarafnya makin terasa terjepit saat
                              dia tengah bermain TikTok bersama anaknya, Arsy Hermansyah, dengan
                              menggunakan efek bibir maju, yang membuatnya harus memonyongkan bibir.
                              “Semakin kejepit karna semalem buat video ini🤦🏻‍♀️,” ujarnya.</p>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



